---
import '@/styles/base.css'
const dccs = Object.values(import.meta.glob('./dccs/*.md', { eager: true }))
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<h1 class="text-4xl font-bold">Common Fund Programs Partnered with the CFDE</h1>
			<div class="grid grid-cols-3 gap-8">
				{dccs.map(dcc =>
					<div class="flex flex-col justify-start items-stretch">
						<div class="flex flex-row justify-around items-center">
							<div class="flex w-24 h-24 justify-center items-center"><img src={dcc.frontmatter.icon} class="max-w-24 max-h-24" /></div>
							<span class="font-bold text-lg">{dcc.frontmatter.short_label}</span>
						</div>
						<p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;">{dcc.rawContent()}</p>
						<div class="flex flex-row justify-around">
							<a class="font-bold" href={dcc.url}>Expand</a>
							<a class="font-bold" href={dcc.frontmatter.homepage} target="_blank">Go to DCC portal</a>
						</div>
					</div>
				)}
			</div>
		</main>
	</body>
</html>
