---
const { publication } = Astro.props
const formatAuthors = (authorString: string) => {
  const authors = authorString.split(',');
  return authors.length <= 10 ? authorString : authors.slice(0, 10).join(',') + ' et al.,';
};
const toCamelCase = (str: String) => {
  return str.toLowerCase().split(' ').map(word =>
    word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()
  ).join(' ');
};
---
<p>
  {formatAuthors(publication.authors)}. {publication.year}.{' '}
  <strong>
    {publication.title}
    {!publication.title.endsWith(".") && "."}
  </strong>{' '}
  {publication.journal && (
    <span class="font-italic">{toCamelCase(publication.journal)}</span>
  )}. {publication.volume}
  {publication.issue && `(${publication.issue})`}
  {publication.page && `:${publication.page}`}.{' '}
  {publication.doi && (
    <a
      target="_blank"
      rel="noopener noreferrer"
      color="secondary"
      href={`https://www.doi.org/${publication.doi}`}
    >
      https://www.doi.org/{publication.doi}
    </Link>
  )}
</p>
