---
import '@/styles/base.css'
import Layout from '@/components/Layout.astro'
const { frontmatter } = Astro.props
---

<Layout>
	<div class="flex w-48 h-48 justify-center items-center"><img src={frontmatter.icon} class="max-w-48 max-h-48" /></div>
	<h1>{frontmatter.label}</h1>
	<slot />
	<div class="flex flex-row gap-4">
		<a class="font-bold" href={frontmatter.homepage} target="_blank">{frontmatter.short_label} DCC Portal</a>
		<a class="font-bold" href={frontmatter.cf_site} target="_blank">{frontmatter.short_label} Program on the NIH Common Fund Website</a>
	</div>
</Layout>
