---
import '@/styles/base.css'
import Layout from '@/components/Layout.astro'
const dccs = Object.values(import.meta.glob('@/pages/dccs/*.md', { eager: true })).filter(dcc => dcc.frontmatter.layout === '@/layouts/DCC.astro')
---

<Layout>
	<slot />
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
		{dccs.map(dcc =>
			<div class="flex flex-col justify-start items-stretch gap-2 p-8 shadow-md rounded-md">
				<div class="flex flex-row gap-8 items-center">
					<div class="flex w-24 h-24 justify-center items-center"><img src={dcc.frontmatter.icon} class="max-w-24 max-h-24" /></div>
					<span class="hanken-grotesk-500 text-xl text-secondary-main">{dcc.frontmatter.short_label}</span>
				</div>
				<p class="overflow-ellipsis text-secondary-main">{dcc.rawContent()}</p>
				<div class="flex flex-row gap-8">
					<a class="hanken-grotesk-500 text-secondary-main hover:bg-gray-100 transition p-4" href={dcc.url}>Expand</a>
					<a class="hanken-grotesk-500 text-secondary-main hover:bg-gray-100 transition p-4" href={dcc.frontmatter.homepage} target="_blank">Go to DCC portal</a>
				</div>
			</div>
		)}
	</div>
</Layout>
